*{
    margin:0%;
    padding:0%;
    font-family:"Gilroy";
}
body,html{
    height:100%;
    width:100%;
   
}
#main{
    height:100%;
    width:100%;
    background-color: rgb(165, 211, 165);
    display:flex;
    align-items: center;
    justify-content: center;
}
#panel{
    height:80vh;
   width:70vw;
   background-color: white;
   border-radius: 2vw;
   overflow: hidden;
  
}
#toppanel{

    width:70vw;
    height:10vh;
background-color:rgb(44, 129, 44) ;
display:flex;
align-items:center;
justify-content: center;
color: white;
}
.elem{
    width:10vw;
    display:flex;
    padding: 0px 4vw;
    align-items:center;
    gap:1vw;
}
.box{
    height:2vh;
background-color: white;
border-radius: 2vw;
padding:1vw;
color:rgb(12, 118, 12);
font-weight:900px;
font-size:25px;
display: flex;
align-items: center;
justify-content: center;
}
#btpanel{
height:70vh;
display:flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}
.bubble{
    width: 7vh;
    height:7vh;
    border-radius: 3vw;
    background-color: rgb(44, 129, 44) ;
    color:black;
    display:flex;
align-items:center;
justify-content:center;
font-weight:900px;
font-size:25px;
margin:1.512vw;
font-size: xx-large;
}
.bubble:hover{
    cursor:pointer;
    background-color: rgb(6, 79, 6);
}



@media (max-width:600px){
    #panel{
        height: 60%;
        background-color: white;
        width:400px;
    }
    #toppanel{
        height: 23%;
        width: 400px;
        background-color: rgb(44, 129, 44);
    }
    .elem{
       display: flex;
       flex-direction: column;
      margin-right: 15%;
      justify-content: space-around;
    }

}